

/* -- Styled using styled-components -- */

/* #folder {
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    list-style-type: none;

} */

.active > #folder {
    background-color: rgba(31, 9, 236, 0.5);

}

/* #addFolder {
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    margin-left: 15px;
    margin-right: 15px;
    list-style-type: none;
    cursor: pointer;
} */
