.note {
    margin: 10px;
    border: 1px solid black;
    height: 15vh;
    padding: 10px;
    position: relative;
    min-width: 900px;
    min-height: 100px;
  
}

.noteName {
    font-size: 25px;
}

#date {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

#delete {
    position: absolute;
    right: 75px;
    bottom: 0;
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}
